{% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Donvan</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		
		<meta name="author" content="">
		<!-- Le styles -->
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>
		<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="/static/bootstrap/js/html5shiv.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="/static/ico/favicon.gif">
	</head>

	<body class="well well-small" style="padding-top: 10px">
		<!-- <div class="navbar navbar-inverse navbar-fixed-top" style="right: auto; top: 150px">
		<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret"></span> Action </a>
		<ul class="dropdown-menu">
		<li>
		<a href="#">home</a>
		</li>
		<li>
		<a href="#">search</a>
		</li>
		<li>
		<a href="#">admin</a>
		</li>
		<li><li class="divider"></li></li>
		<li>
		<form class="navbar-form pull-left" style="padding-left: 5px">
		<input type="text" placeholder="Username" class="span2">
		<br />
		<input type="password" placeholder="Password" class="span2">
		<br />
		<button class="btn" type="submit">
		Sign in
		</button>
		</form>
		</li>
		</ul>
		</div>
		</div> -->
		<header id="overview" class="jumbotron subhead" style="padding-bottom: 30px">
			<div class="container">
				<h3><a href='/' class="muted">DONVAN'S BLOG</a></h3>
				<p class="text-right">
					Thinking is like loving and dying.
				</p>
			</div>
		</header>
		<div class="container-fluid">

			<div class="row-fluid">
				<div class="span10" style="padding: 30px">
					{%block content%}content{%endblock%}
				</div>
				<div class="span2">
                {% if isAdminUser %}
                    <h6 class="text-info" style="padding-left: 30px;">Hi donvan ^_^</h6>
                {% endif %}
					<div data-toggle="collapse" data-target="#admin">
						<img src="/static/img/sleepy_guy.jpg" alt="my avatar" width="150px" class="img-rounded"/>
					</div>
					<div id="admin" class="collapse">
                        <hr />
                        {% if isAdminUser %}
                            <ul class="nav" style="padding-left: 50px; padding-right: 50px; margin-bottom: 0px">
                                <li><a href="/admin/">Admin</a></li>
                                <li><a href="/admin/logout">logout</a></li>
                            </ul>
                        {% else %}
                            <h6>Login</h6>
                            <form class="form-inline" method="post" id="login-form" action="/admin/">
                                {% csrf_token %}
                                <input class="input-medium" type="text" placeholder="username" id="id_username" name="username" style="height: 15px; margin: 2px">
                                <input class="input-medium" type="password" placeholder="password" id="id_password" name="password" style="height: 15px; margin: 2px">
                                <input type="hidden" name="this_is_the_login_form" value="1">
                                <input type="hidden" name="next" value="/admin/">
{#                                <label class="checkbox">#}
{#                                    <input type="checkbox">#}
{#                                    <small>Remember me</small>#}
{#                                </label>#}
                                <button type="submit" class="btn btn-small">
                                    Sign in
                                </button>
                            </form>
                        {% endif %}
					</div>
					<hr />
					<h6>Search</h6>
					<form class="form-search" onkeydown="if(event.keyCode==13){return false}">
						<div class="input-append" >
							<input id="appendedInputButton" type="text" style="width: 135px; height:24px; font-size:12px; padding: 0">
							<button class="btn btn-small" type="button" onclick="search()">
								GO
							</button>
						</div>
					</form>
					<hr />
					<h6>Category</h6>
					<small>
						<ul class="root">
							{% recursetree categories %}
							<li>
								<a href="/category/{{ node.content }}"> {{ node.content }} </a>
								{% if node.postCount > 0 %}
								({{ node.postCount }})
								{% endif %}
								{% if not node.is_leaf_node %}
								<ul class="children">
									{{ children }}
								</ul>
								{% endif %}
							</li>
							{% endrecursetree %}
						</ul> </small>
					<hr />
					<h6>Tags</h6>
					{% for tag in tags %}
					<code>
						<a href="/tag/{{ tag.content }}"> {{tag.content}} </a>
						({{tag.postCount}})
					</code>
					{% endfor %}
					<hr />
					<h6>date category</h6>
					<small>
						<ul>
							{% for date, count in date_categories %}
							<li>
								<a href='/date/{{ date|slice:"4" }}/{{ date|slice:"5:7" }}'> {{date}} </a>
								({{count}})
							</li>
							{% endfor %}
						</ul> </small>
					<hr />
					<h6>Links</h6>
					<ul>
						{% for link in links %}
						<li>
							<a href={{link.url}}>{{link.name}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<hr>

			<footer>
				<p style="text-align: center">
					&copy; donvan 2013
				</p>
			</footer>

		</div>
		<!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/static/bootstrap/js/jquery.js"></script>
		<script src="/static/bootstrap/js/bootstrap-transition.js"></script>
		<script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
		<script src="/static/bootstrap/js/bootstrap-button.js"></script>

        <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
		<script src="/static/bootstrap/js/bootstrap-modal.js"></script>
		<script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
		<script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
		<script src="/static/bootstrap/js/bootstrap-tab.js"></script>
		<script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
		<script src="/static/bootstrap/js/bootstrap-popover.js"></script>
		<script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
		<script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>

		<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shCore.js"></script>
		<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shAutoloader.js"></script>
		<link href="/static/syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css">
		<link href="/static/syntaxhighlighter/styles/shThemeDefault.css" rel="stylesheet" type="text/css">
		<script>
			SyntaxHighlighter.autoloader(
				'as3 /static/syntaxhighlighter/scripts/shBrushAS3.js',
				'applescript /static/syntaxhighlighter/scripts/shBrushAppleScript.js',
				'bash /static/syntaxhighlighter/scripts/shBrushBash.js',
				'csharp /static/syntaxhighlighter/scripts/shBrushCSharp.js',
				'cpp /static/syntaxhighlighter/scripts/shBrushCpp.js',
				'css /static/syntaxhighlighter/scripts/shBrushCss.js',
				'delphi /static/syntaxhighlighter/scripts/shBrushDelphi.js',
				'diff /static/syntaxhighlighter/scripts/shBrushDiff.js',
				'erl /static/syntaxhighlighter/scripts/shBrushErlang.js',
				'groovy /static/syntaxhighlighter/scripts/shBrushGroovy.js',
				'hx /static/syntaxhighlighter/scripts/shBrushXml.js',
				'jscript /static/syntaxhighlighter/scripts/shBrushJScript.js',
				'java /static/syntaxhighlighter/scripts/shBrushJava.js',
				'javafx /static/syntaxhighlighter/scripts/shBrushJavaFX.js',
				'perl /static/syntaxhighlighter/scripts/shBrushPerl.js',
				'php /static/syntaxhighlighter/scripts/shBrushPhp.js',
				'plain /static/syntaxhighlighter/scripts/shBrushPlain.js',
				'python /static/syntaxhighlighter/scripts/shBrushPython.js',
				'ruby /static/syntaxhighlighter/scripts/shBrushRuby.js',
				'scala /static/syntaxhighlighter/scripts/shBrushScala.js',
				'sql /static/syntaxhighlighter/scripts/shBrushSql.js',
				'vb /static/syntaxhighlighter/scripts/shBrushVb.js',
				'xml /static/syntaxhighlighter/scripts/shBrushXml.js',
				'scss /static/syntaxhighlighter/scripts/shBrushSass.js',
				'ps /static/syntaxhighlighter/scripts/shBrushPowerShell.js',
				'cf /static/syntaxhighlighter/scripts/shBrushColdFusion.js'
			);
			SyntaxHighlighter.config.bloggerMode = true;
			SyntaxHighlighter.defaults['toolbar'] = false;
			SyntaxHighlighter.all(); 
		</script>
        <script>
            function search(){
                var search_content = $("input#appendedInputButton").val()
                location.href="/search/"+search_content
            }
        </script>
	</body>
</html>
