{% extends "base.html" %}

{% block content %}

    <h5><p class="text-center">{{ posts.title }}</p></h5>
    <br/>
    <p>{{ posts.content|safe }}</p>
    <small>
        <ul class="inline text-right">
            <li>
                Posted @
                <a href="/date/{{ posts.publish_time|date:'Y/m/d' }}/">
                    {{ posts.publish_time }}
                </a>
            </li>
            <li>{{ posts.status }}</li>
            <li>
                {% for tag in posts.postTagList %}
                    <a href="/tag/{{ tag }}/">{{ tag }}</a>
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </li>
            <li>
                <a href="/category/{{ posts.category }}/">{{ posts.category }}</a>
            </li>
            <li>{{ posts.view_count }} views</li>
        </ul>
    </small>


{% endblock content %}
